@media (max-width: 767px){
    body{
        margin-left: 100px;
        margin-right: 100px;
        background-color: white;
        color: black;
    }
    h1 {
        text-align: center;
        text-decoration: solid;
        font-size: 300%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        bottom: 50px;
    }

    a {
        color: white;
    }

    .pp img{
        width:80px;
        height:80px;
        border-radius:50%;
        position:absolute;
        right:30px;
        top:30px;
        object-fit: cover;
    }

    @font-face {
    font-family: 'Felipa';
    src: url(font/Felipa-Regular.ttf);
    } 

    .begin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        font-family: 'Felipa';
    }

    input{
        width: 50%;
    }
    button{
        width: 20%;
    }
    .img-size{
        width: 300px;
        height: 300px;
        border-radius: 25%;
    }
    .flip{
        background-color: transparent;
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
        padding: 10px;
        perspective: 1200px;
        transition: all 0.5s ease 0.3s;
    }
    .inner-card{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .flip:hover .inner-card {
        transform: rotateY(180deg);
    }
    .flip:hover{
        width: 600px;
        height: 600px;
        margin: auto;
        margin-bottom: 20px;
        transition: all 0.5s ease 0s;
        font-family: Verdana, Geneva, Tahoma;
    }

    .front-card, .card-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 25%;
    }

    .front-card{
        background-color: #113f67;
        color: black;
    }

    .card-back{
        background-color: #113f67;
        color: white;
        transform: rotateY(180deg);
        border-radius: 25%;
        overflow: hidden;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 120%
    }
    .form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input{
        background: #113f67;
        color: white;
        width: 50%;
        padding-top: 10px;
        margin: 10px;
        height: 30px;
        border-radius: 10px;
        font-size: 1.3em;
    }
    textarea{
        background: #113f67;
        color: white;
        width: 50%;
        padding-top: 10px;
        margin: 10px;
        height: 50px;
        border-radius: 10px;
        font-size: 1.3em;
    }
    input:focus{
        border: 1px solid #FFFDD0;
    }
    textarea:focus{
        border: 1px solid #FFFDD0;
    }
    button{
        display: inline-block;
        background-color: #113f67;
        border-radius: 25px;
        border: 2px solid #cccccc;
        color: #FFFDD0;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        cursor: pointer;
        margin: 10px;
    }
    input::placeholder, textarea::placeholder{
        color: white;
    }
    .contact{
        border: solid black 2px;
        margin-top: 20px;
        background-image: url(image/background-contact.jpg);
        border-radius: 50px;
        color: white;
    }
    .link, .img-link{
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius: 20px;
    }

    footer{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    body{
        margin-left: 100px;
        margin-right: 100px;
        background-color: #ffffff;
        color: black;
    }
    h1 {
        text-align: center;
        text-decoration: solid;
        font-size: 300%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        bottom: 50px;
    }

    a {
        color: white;
    }
    .pp img{
        width:80px;
        height:80px;
        border-radius:50%;
        position:absolute;
        right:30px;
        top:30px;
        object-fit: cover;
    }

    @font-face {
    font-family: 'Felipa';
    src: url(font/Felipa-Regular.ttf);
    } 

    .begin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        font-family: 'Felipa';
    }

    input{
        width: 20%;
    }
    button{
        width: 10%;
    }
        .img-size{
        width: 300px;
        height: 300px;
        border-radius: 25%;
    }
    .flip{
        background-color: transparent;
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
        padding: 10px;
        perspective: 1200px;
        transition: all 0.5s ease 0.3s;
    }
    .inner-card{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .flip:hover .inner-card {
        transform: rotateY(180deg);
    }
    .flip:hover{
        width: 600px;
        height: 600px;
        margin: auto;
        margin-bottom: 20px;
        transition: all 0.5s ease 0s;
        font-family: Verdana, Geneva, Tahoma;
    }

    .front-card, .card-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 25%;
    }

    .front-card{
        background-color: #113f67;
        color: black;
    }

    .card-back{
        background-color: #113f67;
        color: white;
        transform: rotateY(180deg);
        border-radius: 25%;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 120%;
    }

    .form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input{
        background: #113f67;
        color: white;
        width: 50%;
        padding-top: 10px;
        margin: 10px;
        height: 30px;
        border-radius: 10px;
        font-size: 1.3em;
    }

    textarea{
        background: #113f67;
        color: white;
        width: 50%;
        padding-top: 10px;
        margin: 10px;
        height: 70px;
        border-radius: 10px;
        font-size: 1.3em;
    }
    input:focus{
        border: 1px solid #FFFDD0;
    }
    textarea:focus{
        border: 1px solid #FFFDD0;
    }
    button{
        display: inline-block;
        background-color: #113f67;
        border-radius: 25px;
        border: 2px solid #cccccc;
        color: #FFFDD0;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        cursor: pointer;
        margin: 10px;
    }
    input::placeholder, textarea::placeholder{
        color: white;
    }
    .contact{
        border: solid black 2px;
        margin-top: 20px;
        background-color: #363636;
        background-image: url(image/background-contact.jpg);
        border-radius: 50px;
        color: white;
    }
    .link, .img-link{
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius: 20px;
    }

    footer{
        text-align: center;
    }
}

@media (min-width: 1024px){
    body{
        margin-left: 100px;
        margin-right: 100px;
        background-color: #ffffff;
        color: #000000;
    }
    h1 {
        text-align: center;
        text-decoration: solid;
        font-size: 500%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        bottom: 50px;
    }
    a {
        color: white;
    }

    @font-face {
    font-family: 'Felipa';
    src: url(font/Felipa-Regular.ttf);
    } 

    .begin{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        font-family: 'Felipa';
    }

    .pp img{
        width:80px;
        height:80px;
        border-radius:50%;
        position:absolute;
        right:30px;
        top:30px;
        object-fit: cover;
    }

    
    input{
        width: 17%;
    }
    button{
        width: 10%;
    }
    
    .img-size{
        width: 400px;
        height: 400px;
        border-radius: 25%;
    }
    .flip{
        background-color: transparent;
        width: 400px;
        height: 400px;
        padding: 20px;
        perspective: 1200px;
        transition: all 0.5s ease 0.3s;
    }
    .inner-card{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .flip:hover .inner-card {
        transform: rotateY(180deg);
    }
    .flip:hover{
        width: 600px;
        height: 600px;
        margin: auto;
        margin-bottom: 20px;
        transition: all 0.5s ease 0s;
        font-family: Verdana, Geneva, Tahoma;
    }
    .front-card, .card-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 25%;
    }
    
    .front-card{
        background-color: #113f67;
        color: black;
    }
    
    .card-back{
        background-color: #113f67;
        color: white;
        transform: rotateY(180deg);
        border-radius: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        transition: none;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 130%;
    }
    .form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    input{
        background: #113f67;
        color: white;
        width: 50%;
        padding-top: 10px;
        margin: 10px;
        height: 30px;
        border-radius: 10px;
        font-size: 1.3em;
    }

    textarea{
        background: #113f67;
        color: white;
        width: 50%;
        padding-top: 10px;
        margin: 10px;
        height: 70px;
        border-radius: 10px;
        font-size: 1.3em;
    }
    button{
        display: inline-block;
        background-color: #113f67;
        border-radius: 25px;
        border: 2px solid #cccccc;
        color: #FFFDD0;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        cursor: pointer;
        margin: 10px;
    }
    input::placeholder, textarea::placeholder{
        color: white;
        text-align: center;
    }
    input:focus{
        border: 1px solid #FFFDD0;
    }
    textarea:focus{
        border: 1px solid #FFFDD0;
    }
    .contact{
        border: solid black 2px;
        margin-left: 500px;
        margin-right: 500px;
        margin-top: 20px;
        background-image: url(image/background-contact.jpg);
        border-radius: 50px;
        color: white;
    }
    .link, .img-link{
        display: flex;
        flex-direction: row;
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius: 20px;
    }

    footer{
        text-align: center;
    }
}